
//*******************************************************************
//#region ヘッダー
//*******************************************************************
.p-header{
box-shadow: 1px 1px 3px rgba(0,0,0,0.2);

  &_inner{
    padding: .5rem 4rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_ttl{
    width: 200px;
    transform: translateY(5px);
  }

  &_search{
    width: 30%!important;
  }
  &_searchInput{
    border: 2px solid $col-green;
    border-radius: 30px;
    padding: 0.2rem 2rem;
    color: $col-glay;
  }

  &_hum{
    width: 30px;
    height: 30px;
    border: 2px solid $col-green;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    z-index: 50;

    &__line{
      position: absolute;
      height: 2px;
      width: 80%;
      border-radius: 30px;
      background-color: $col-green;
      left: 50%;
      transform: translateX(-50%);
      transition: all .3s;

      &--1{
        top: 30%;

        &--active{
          top: 50%;
          transform: translateX(-50%) translateY(-50%) rotate(-45deg);
        }
      }
      &--2{
        top: 60%;

        &--active{
          top: 50%;
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
        }
      }
    }

    &__bg{
      position: fixed;
      content: "";
      width: 2400px;
      height: 2400px;
      margin-right: -1200px;
      margin-top: -1200px;
      top: 0px;
      right: -50px;
      display: block;
      background: $col-green;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      -webkit-transition: all .3s ease-out;
      transition: all .3s ease-out;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform: scale(0);
      transform: scale(0);
    }

    &__category {
      position: fixed;
      width: 100vw;
      margin: 0 calc(50% - 140vw);
      text-align: center;
      display: none;
      transition: all 2s;

    & h3{
      font-size: 2rem;
      color: #fff;
      margin-bottom: .5rem;
      opacity: 0;
      -webkit-transform: scaleX(0) translateX(-260px);
      transform: scaleX(0) translateX(-260px);
      -webkit-transition: none;
      transition: none;
      margin-top: 3rem;
      transition: all 2s;
    }
    & ul li{
      font-size: 1rem;
      opacity: 0;
      -webkit-transform: scaleX(0) translateX(-260px);
      transform: scaleX(0) translateX(-260px);
      margin-bottom: .5rem;
      transition: all 2s;

      &:not(:last-child){
        margin-bottom: .5rem;
      }

      & a{
        color: #fff;
        border-bottom: 1px solid rgba(0,0,0,0);
        transition: all .3s;

        &:hover{
          border-color: #fff;
        }
      }
    }
  }
    
  }
}

//ヘッダーハンバーガーメニュー アクティブ
.is-p-header_hum_active .p-header_hum{
  position: fixed;
}
.is-p-header_hum_active .p-header_hum__line--1{
  background-color: #fff!important;
  top: 50%!important;
  transform: translateX(-50%) translateY(-50%) rotate(-45deg)!important;
  z-index: 60;
}
.is-p-header_hum_active .p-header_hum__line--2{
  background-color: #fff!important;
  top: 50%!important;
  transform: translateX(-50%) translateY(-50%) rotate(45deg)!important;
  z-index: 60;
}
.is-p-header_hum_active .p-header_hum__bg{
  -webkit-transform: scale(3);
    transform: scale(3);
    -webkit-transition: all 1.2s ease-out;
    transition: all 1.2s ease-out;
}
.is-p-header_hum_active .p-header_hum__category {
  display: block;
}
.is-p-header_hum_active .p-header_hum__category ul li,
.is-p-header_hum_active .p-header_hum__category h3{
  opacity: 1;
  -webkit-transform: scaleX(1) translateX(0);
  transform: scaleX(1) translateX(0);
  -webkit-transition: all 1.6s ease-out;
  transition: all 1.6s ease-out;
  -webkit-transition-delay: 1.6s;
  transition-delay: 1.6s;
}

// グローバルナビ
.p-nav{
 width: 400px;
 font-size: 0.8rem;
 font-weight: bold;
 letter-spacing: 0.1em;
 
 &_list{
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin-left: 2rem;
  }

  &_link{
    color: $col-green!important;
    font-weight: bold;
    border-bottom: 2px solid rgba(0,0,0,0);
    transition: all .3s;
    font-size: 1rem;

    &:hover{
      border-color: $col-green;
      opacity: .8;
    }
  }
}

.theme--light.v-label{
  font-size: .8rem;
  top: 0px;
}


//*******************************************************************
//#region 素材
//*******************************************************************

.p-material{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  
  &_item{
    position: relative;
    width: 30%!important;
    min-width: 200px;
    margin-bottom: 60px;
    
    &:not(:nth-child(3n)){
      margin-right: 30px;
    }
  }
  
  &_innerWrap{
    padding: 1rem 1rem;
    overflow: hidden;
    height: calc(1.75*3rem);  
    display: flex;
    align-items: center;  
  }
  &_iconWrap{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
  &_ttl{
    font-size: 1rem;
    width: 80%;
    color: $col-green;
  }

  &_thumb{
    border: 2px solid $col-green;
  }
}
.p-rank_color{
  position: absolute;
  top: 0;
  left: 0;
  background-color: $col-yellow;
  padding: 0.1rem 0.5rem;
  font-size: .5rem;
  font-weight: bold;
  border-radius: 0 0 10px 0;
}

.p-rank_icon{
  color: #fff;
  font-size: 1rem;
  letter-spacing: .08em;
  display: flex;
}

.p-rank_icon--1 .p-rank_icon_icon::before{
  color: rgb(204, 153, 0)!important;
  font-size: 1rem;
  display: inline-block;
}
.p-rank_icon--2 .p-rank_icon_icon::before{
  color: rgb(163, 163, 163)!important;
  font-size: 1rem;
  display: inline-block;
}
.p-rank_icon--3 .p-rank_icon_icon::before{
  color: rgb(187, 129, 105)!important;
  font-size: 1rem;
  display: inline-block;
}


//*******************************************************************
//#region ページ共通
//*******************************************************************
.container{
  padding-top: 0px!important;
}
.p-content{
  max-width: 1280px!important;
  margin: 0 auto;
  padding-bottom: 6rem;

  &_inner{
    display: flex;
  }

  &_main{
    width: 75%!important;
  }

  &_subTtl{
    font-size: 1.6rem;
    color: $col-green;
    margin-bottom: 40px;
  }
}

.p-content_section{
  padding-top: 6rem;

  &__ttl{
      text-align: center;
      font-size: 1.6rem;
      color: $col-green;
      margin-bottom: 40px;
  }
}

.p-more_btn{
  text-align: center;

  &__link{
    position: relative;
    color: $col-green;
    border: 2px solid $col-green;
    padding: .5rem 1rem;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 30px;

    &:hover{
      background-color: $col-green;
      color: #fff;
      transition: all .3s;
      &::after{
        background: url("/arrow_right_white.png") no-repeat;
        background-size: contain;
      }
    }
    
    &::after{
      transition: all .3s;
      position: absolute;
      content: "";
      width: 12%;
      height: 100%;
      background: url("/arrow_right.png") no-repeat;
      background-size: contain;
      top: 35%;
      right: 8%;

    }
  }
}

.p-pankuzu{
  font-size: .8rem;
  margin-top: 1rem;
  margin-bottom: .5rem;

  & a{
    &:hover{
      text-decoration: underline;
    }
  }
  
  &_inactive{
    color: $col-green;
    font-weight: bold;
  }
}

//*******************************************************************
//#region メインビジュアル
//*******************************************************************
.p-mainvisual{
  background-color: $col-glay;
  margin: 0 calc(50% - 50vw);
	width: 100vw;
  
  &_box{
    padding: 8rem 0 ;
    background-size: cover;
    position: relative;

    &::before{
      content: "";
      position: absolute;
      width: 20%;
      height: 80%;
      min-width: 150px;
      min-height: 150px;
      background: url("/image1.png") no-repeat;
      background-size: contain;
      bottom: 0;
      left:0;
    }
    &::after{
      content: "";
      position: absolute;
      width: 20%;
      height: 80%;
      min-width: 150px;
      min-height: 150px;
      background: url("/image2.png") no-repeat;
      background-size: contain;
      bottom: 0;
      right:0;
    }
  }

  &__desc{
    text-align: center;
    font-size: 1.3rem;
    line-height: 2;
    letter-spacing: .08em;
    margin-bottom: 2rem;
  }

  &_search{
    background-color: #fff;
    width: 50%;
    margin: 0 auto;
    border-radius: 30px;
    
    &__searchInput{
      display: block;
      border: 2px solid $col-green;
      border-radius: 25px!important;
      
    }
  }
}


//*******************************************************************
//#region おすすめポイント
//*******************************************************************
.p-reccomend{
  display: flex;
  justify-content: space-around;

  &__item{
    width: 30%;
    text-align: center;
  }

  &__img{
    margin: auto;
    width: 60%;
    margin-bottom: 1rem;
  }

  &__ttl{
    display: inline-block;
    font-size: 1.3rem;
    letter-spacing: .05em;
    color: $col-green;
    background:linear-gradient(transparent 60%, $col-yellow 0%);
  }

  &__desc{
    font-size:.8rem;
    width: 90%;
    margin: 1rem auto;
  }
}



//*******************************************************************
//#region 商品詳細
//*******************************************************************
.p-material_detail{
  display: flex;

  &__dl{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;

    &__item{
      width: 48%;
      text-align: center;
      padding: 1rem;
      border-radius: 30px;
      font-size: .7rem;
      font-weight: bold;
      border: 2px solid #000;
      cursor: pointer;
      box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
      transition: all .3s;
      
      &:hover{
        box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
        
      }

      &--mp4{
        color: $col-green;
        border-color: $col-green;

        &:hover{
          color: #fff;
          background-color: $col-green;
        }
      }
      &--mov{
        color: $col-yellow;
        border-color: $col-yellow;
        &:hover{
          color: #fff;
          background-color: $col-yellow;
        }
      }
    }
  }

  &__desc{
    padding: 1rem 0;
    margin-left: 2rem;
    border-top: 2px solid $col-green;
    width: 48%;
    font-family: "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;


    &_params{
      margin-top: 1rem;
      padding-top: 1rem;
      border-top: 1px solid $col-green;
      border-bottom: 1px solid $col-green;
      font-size: .9rem;
      letter-spacing: 0.08em;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
    }

    &_tags{
      &:not(:last-child){
      margin-bottom: 1rem;
      }
    }
  }

  &__ttl{
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  &__copy{
    font-size: .9rem;
    letter-spacing: .05em;
  }

}


//*******************************************************************
//#region サイドバー
//*******************************************************************
.p-sideber{
  width: 20%;
  margin-top: 9rem;
  padding-left: 3rem;
}

//*******************************************************************
//#region フッター
//*******************************************************************
.p-footer{
  padding: 4rem!important;//デフォルトCSS削除
  background: url("/bg.jpg") no-repeat;
  background-size: cover;

  &_logo{
    width: 200px;
    margin-bottom: .5rem;
  }

  &_btns{
    width: 100%;
    padding-left: 1.5rem;

    &:not(:last-child){
      margin-right: 2rem;
    }

    &__icon{


    }

    &__link{
      color: #fff;
      font-size: 0.8rem;
      border-bottom: 1px solid rgba(0,0,0,0);
      transition: all .3s;

      &:hover{
        border-color: #fff;
      } 
    }

  }

&_copy{
  margin-top: .5rem;
  color: #fff;
  font-size: .8rem;
  text-align: center;
}

}

.p-category{
  margin-left: .5rem;
}

.p-tag{
  margin-left: .5rem;
  margin-right: .5rem;
  margin-bottom: .5rem;
}


//*******************************************************************
//#region トップに戻るボタン
//*******************************************************************

.p-topBtn{
 width: 70px;
 padding: 1rem 1.5rem 1rem 1rem;
 position: fixed;
 bottom: 0;
 right: 0%;
 background-color: $col-yellow;
 border-radius: 20px 0px 0px 0px;
 cursor: pointer;
 z-index: 5;
}

//*******************************************************************
//#region 個別ページ
//*******************************************************************

.p-sub_content{
  padding-bottom: 3rem;
}

.page{

  &-copy{
    margin-bottom:3rem;
  }
  
  &__subttl{
    font-size: 1.3rem;
    margin-bottom: .5rem;
  }

  &__desc{
    font-family: "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif!important;
    font-size: 1rem;
  }

  &__block{
    margin-bottom: 3rem;
  }

  &__orderlist{
    margin-top: 3rem;
    list-style: decimal;
    padding-left: 1.5rem;
  }
  
  &__item{
    margin-top: .8rem;
    font-size: .8rem;
    letter-spacing: .08em;
    padding-bottom: .5rem;
    border-bottom: 1px dotted #ccc;
  }

}