
//*******************************************************************
//#region ヘッダー
//*******************************************************************
.p-header{
box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
margin-bottom: .1rem;
// background-color:#a2ccd0;
background-color:#1C4D50;

  &_inner{
    padding: 1rem 4rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_ttl{
    width: 250px;
    transform: translateY(0px);
  }

  &_search{
    width: 30%!important;
  }
  &_searchInput{
    background-color: #eee;
    border-radius: 30px;
    padding: 0.2rem 2rem;
    color: $col-glay;
  }

  &_hum{
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    z-index: 50;

    &__line{
      position: absolute;
      height: 2px;
      width: 80%;
      border-radius: 30px;
      background-color: #fff;
      left: 50%;
      transform: translateX(-50%);
      transition: all .3s;

      &--1{
        top: 30%;

        &--active{
          top: 50%;
          transform: translateX(-50%) translateY(-50%) rotate(-45deg);
        }
      }
      &--2{
        top: 60%;

        &--active{
          top: 50%;
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
        }
      }
    }

    &__bg{
      position: fixed;
      content: "";
      width: 2400px;
      height: 2400px;
      margin-right: -1200px;
      margin-top: -1200px;
      top: 0px;
      right: -50px;
      display: block;
      background: $col-green;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      -webkit-transition: all .3s ease-out;
      transition: all .3s ease-out;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform: scale(0);
      transform: scale(0);
    }

    &__category {
      position: fixed;
      width: 100vw;
      margin: 0 calc(50% - 140vw);
      text-align: center;
      display: none;
      transition: all 2s;

    & h3{
      font-size: $ttl--pc;
      color: #fff;
      margin-bottom: 1rem;
      opacity: 0;
      -webkit-transform: scaleX(0) translateX(-260px);
      transform: scaleX(0) translateX(-260px);
      -webkit-transition: none;
      transition: none;
      margin-top: 3rem;
      transition: all 2s;
    }
    & ul li{
      font-size: $desc--pc;
      opacity: 0;
      -webkit-transform: scaleX(0) translateX(-260px);
      transform: scaleX(0) translateX(-260px);
      margin-bottom: 1rem;
      transition: all 2s;

      &:not(:last-child){
        margin-bottom:1rem;
      }

      & a{
        color: #fff;
        border-bottom: 1px solid rgba(0,0,0,0);
        transition: all .3s;

        &:hover{
          border-color: #fff;
        }
      }
    }
  }
    
  }
}

//ヘッダーハンバーガーメニュー アクティブ
.is-p-header_hum_active .p-header_hum{
  position: fixed;
}
.is-p-header_hum_active .p-header_hum__line--1{
  background-color: #fff!important;
  top: 50%!important;
  transform: translateX(-50%) translateY(-50%) rotate(-45deg)!important;
  z-index: 60;
}
.is-p-header_hum_active .p-header_hum__line--2{
  background-color: #fff!important;
  top: 50%!important;
  transform: translateX(-50%) translateY(-50%) rotate(45deg)!important;
  z-index: 60;
}
.is-p-header_hum_active .p-header_hum__bg{
  -webkit-transform: scale(3);
    transform: scale(3);
    -webkit-transition: all 1.2s ease-out;
    transition: all 1.2s ease-out;
}
.is-p-header_hum_active .p-header_hum__category {
  display: block;
}
.is-p-header_hum_active .p-header_hum__category ul li,
.is-p-header_hum_active .p-header_hum__category h3{
  opacity: 1;
  -webkit-transform: scaleX(1) translateX(0);
  transform: scaleX(1) translateX(0);
  -webkit-transition: all 1.6s ease-out;
  transition: all 1.6s ease-out;
  -webkit-transition-delay: 1.6s;
  transition-delay: 1.6s;
}

// グローバルナビ
.p-nav{
 width: 400px;
 font-weight: bold;
 letter-spacing: 0.1em;
 
 &_list{
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin-left: 3rem;
  }

  &_link{
    display: block;
    color: #fff!important;
    font-weight: bold;
    border-bottom: 2px solid rgba(0,0,0,0);
    transition: all .3s;
    font-size: $desc--pc;

    &:hover{
      border-color: #fff;
      opacity: .8;
    }
  }
}

.theme--light.v-label{
  font-size: 1rem;
  top: 0px;
}


//*******************************************************************
//#region 素材
//*******************************************************************

.p-material{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;

  &_new{
    position: absolute;
    background-color: rgb(223, 69, 69);
    color: #fff;
    font-weight: bold;
    padding: .1rem .3rem;
    font-size: $small--pc;
    top:  0;
    right: 0;
  }
  
  &_item{
    position: relative;
    width: 30%!important;
    min-width: 100px;
    margin-bottom: 60px;
    
    &:not(:nth-child(3n)){
      margin-right: 30px;
    }
  }
  
  &_innerWrap{
    padding: 1rem 1rem;
    overflow: hidden;
    height: calc(1.75*3rem);  
    display: flex;
    align-items: center;  
  }
  &_iconWrap{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
  &_ttl{
    font-size: $product_name;
    width: 80%;
    color: $col-green;
  }

  &_thumb{
    border-bottom: 1px solid rgb(214, 214, 214);
  }
}
.p-rank_color{
  position: absolute;
  top: 0;
  left: 0;
  background-color: $col-yellow;
  padding: 0 1rem 0.5rem;
  font-size: .5rem;
  font-weight: bold;
  border-radius: 0 0 10px 0;
}

.p-rank_icon{
  color: #fff;
  font-size: $desc--pc;
  letter-spacing: .08em;
  display: flex;
}

.p-rank_icon--1 .p-rank_icon_icon::before{
  color: rgb(204, 153, 0)!important;
  font-size: $desc--pc;
  display: inline-block;
}
.p-rank_icon--2 .p-rank_icon_icon::before{
  color: rgb(163, 163, 163)!important;
  font-size: $desc--pc;
  display: inline-block;
}
.p-rank_icon--3 .p-rank_icon_icon::before{
  color: rgb(187, 129, 105)!important;
  font-size: $desc--pc;
  display: inline-block;
}


//*******************************************************************
//#region ページ共通
//*******************************************************************
.container{
  padding-top: 0px!important;
}
.p-content{
  max-width: 1280px!important;
  margin: 0 auto;
  padding-bottom: 8rem;

  &_inner{
    display: flex;
  }

  &_main{
    width: 75%!important;
  }

  &_subTtl{
    font-size: $ttl--pc;
    color: $col-green;
    margin-bottom: 6rem;
  }
}

.p-content_section{
  padding-top: 10rem;


  &__ttl{
      text-align: center;
      font-size: $ttl--pc;
      color: $col-green;
      margin-bottom: 4rem;
  }
}

.p-more_btn{
  text-align: center;

  &__link{
    position: relative;
    color: $col-green;
    border: 2px solid $col-green;
    padding:1rem 1.6rem;
    font-weight: bold;
    font-size: $desc--pc;
    border-radius: 30px;

    &:hover{
      background-color: $col-green;
      color: #fff;
      transition: all .3s;
      &::after{
        background: url("/arrow_right_white.png") no-repeat;
        background-size: contain;
      }
    }
    
    &::after{
      transition: all .3s;
      position: absolute;
      content: "";
      width: 12%;
      height: 100%;
      background: url("/arrow_right.png") no-repeat;
      background-size: contain;
      top: 35%;
      right: 8%;

    }
  }
}

.p-pankuzu{
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

  & a{
    &:hover{
      text-decoration: underline;
    }
  }
  
  &_inactive{
    color: $col-green;
    font-weight: bold;
    text-decoration: underline;
  }
}

//*******************************************************************
//#region メインビジュアル   
//*******************************************************************
.p-mainvisual{
  background-color: $col-glay;
  margin: 0 calc(50% - 50vw);
	width: 100vw;
  position: relative;
  height: 500px;

  &::before{
    position: absolute;
    content: "";
    background: url("/bg_pc.png")no-repeat;
    background-size: contain;
    width: 1000px;
    height: 100%;
    left:50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
  
  &_box{
    background-size: cover;
    position: absolute;
    left:50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
  }

  &__desc{
    text-align: center;
    font-size: 1.3rem;
    line-height: 2;
    letter-spacing: .08em;
    margin-bottom: 2rem;
  }

  &_search{
    background-color: #fff;
    margin: 0 auto;
    border-radius: 30px;
    
    &__searchInput{
      display: block;
      margin-left: 1rem;
      border: 2px solid $col-green;
      border-radius: 25px!important;
      
    }
  }
}

.p-slide{
  padding: 2rem;
  width: 100vw;
  margin: 0 calc(50% - 50vw);

  &_item{
    margin: 1rem;
    border-radius: 14px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    overflow: hidden;
    width: 400px!important;
  }
  
  &_img{
    width: 400px;
  }
}

//*******************************************************************
//#region おすすめポイント
//*******************************************************************
.p-reccomend{
  display: flex;
  justify-content: space-around;

  &__item{
    width: 30%;
    text-align: center;
  }

  &__img{
    margin: auto;
    width: 60%;
    margin-bottom: 1rem;
  }

  &__ttl{
    display: inline-block;
    font-size: $product_name;
    letter-spacing: .05em;
    color: $col-green;
    background:linear-gradient(transparent 60%, $col-yellow 0%);
  }

  &__desc{
    font-size:$small--pc;
    width: 90%;
    margin: 1.6rem auto;
  }
}

//*******************************************************************
//#region 特集
//*******************************************************************
.p-content_subTtl--special{
  margin-bottom:1rem;
  font-size:$ttl--pc;
}

.p-special{

  &__mv{
    width: 100％;
  } 

  &__materialWrap{
    margin-top: 8rem;
  }

  &__copy{
    margin-top: 2rem;
    text-align: center;
    font-size: $desc--pc;
    line-height: 1.75;
  }

}

//*******************************************************************
//#region 商品詳細
//*******************************************************************
.p-material_detail{
  display: flex;

  &__dl{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;

    &__item{
      width: 48%;
      text-align: center;
      padding: 1.6rem;
      border-radius: 30px;
      font-size: $product_name;
      font-weight: bold;
      border: 2px solid #000;
      cursor: pointer;
      transition: all .3s;
      
      &:hover{
        box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
        
      }

      &--mp4{
        color: $col-green;
        border-color: $col-green;

        &:hover{
          background-color: $col-green;
          color: #fff;
        }
      }
      &--mov{
        color: $col-yellow;
        border-color: $col-yellow;
        &:hover{
          color: #fff;
          background-color: $col-yellow;
        }
      }
    }
  }

  &__desc{
    padding: 3rem 1rem;
    margin-left: 2rem;
    border-top: 2px solid $col-green;
    width: 48%;
    font-family: "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;

    &_params{
      background-color: $col-glay;
      margin-top: 4rem;
      padding: 2rem 1rem;
      font-size: $product_name;
      letter-spacing: 0.08em;
      border-radius: 20px;
      margin-bottom: 3rem;

      &__item{
        border-bottom: 1px solid rgb(214, 214, 214);
        margin-bottom: 1.4rem;
        padding-left: 1rem;
      }

    }

    &_tags{
      &:not(:last-child){
      margin-bottom: 1.6rem;
      }
    }
  }

  &__ttl{
    font-size: $ttl--pc;
    margin-bottom: 2rem;
  }

  &__copy{
    font-size: $product_name;
    letter-spacing: .07em;
    line-height: 1.75;

  }

}

.v-chip__content a{
  font-size: 1.1rem;
}

.p-material_wrap2{
  margin-top: 8rem;
}

.p-material_wrap{
  margin-top: 8rem;
}

.p-bnr__register {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.p-bnr__register .p-bnr_item {
  margin: 0.5rem;
  width: 32%;
}

.p-bnr_img{
  box-shadow:0 0 5px rgba(0,0,0,0.15);
  border-radius:12px

}

.p-bnr__register .p-bnr_copy {
  font-size:1.4rem;
  font-weight:normal;
  padding-left: 1rem;
  text-align: left;
}

.p-bnr_ttl{
  padding-left: 1rem;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 1rem 0;
}


//*******************************************************************
//#region サイドバー
//*******************************************************************
.p-sideber{
  width: 20%;
  margin-top: 9rem;
  padding-left: 3rem;
}

//*******************************************************************
//#region フッター
//*******************************************************************
.p-footer{
  padding: 7rem!important;//デフォルトCSS削除
  background: url("/bg.jpg") no-repeat;
  background-size: cover;

  &_logo{
    width: 200px;
    margin-bottom: 1rem;
  }

  &_btns{
    width: 100%;
    padding-left: 2rem;

    &:not(:last-child){
      margin-right: 2rem;
    }


    &__link{
      color: #fff;
      font-size: $product_name;
      border-bottom: 1px solid rgba(0,0,0,0);
      transition: all .3s;

      &:hover{
        border-color: #fff;
      } 
    }

  }

&_copy{
  margin-top: 1rem;
  color: #fff;
  font-size: 1rem;
  text-align: center;
}

}

.p-category{
  margin-left: 0rem;
}

.p-tag{
  margin-right: .5rem;
}

.v-icon--left{
  margin-right: .5rem;
}

//*******************************************************************
//#region トップに戻るボタン
//*******************************************************************

.p-topBtn{
 width: 70px;
 padding: 1rem 1.5rem 1rem 1rem;
 position: fixed;
 bottom: 0;
 right: 0%;
 background-color: $col-yellow;
 border-radius: 20px 0px 0px 0px;
 cursor: pointer;
 z-index: 5;
}

//*******************************************************************
//#region 個別ページ
//*******************************************************************

.p-sub_content{
  padding-bottom: 3rem;
}

.page{

  &-copy{
    margin-bottom:3rem;
    font-size: 1.4rem;
  }
  
  &__subttl{
    font-size: $ttl--pc;
    margin-bottom:1rem;
  }

  &__desc{
    font-family: "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif!important;
    letter-spacing: .03em;
    font-size: $product_name;
  }

  &__block{
    margin-bottom: 6rem;
  }

  &__orderlist{
    margin-top: 3rem;
    list-style: decimal;
    padding-left: 1.5rem;
  }
  
  &__item{
    margin-top: 1rem;
    font-size: 1.4rem;
    letter-spacing: .08em;
    padding-bottom: 1rem;
    border-bottom: 1px dotted #ccc;
  }

  &__orderlist--id{
    width: 75%;
    margin: 0 auto;
  }

}

//*******************************************************************
//#region 記事
//*******************************************************************
.p-column{
  display: flex;
  justify-content: space-between;


  &__item{
    width: 30%;
    color: $col-green;
    transition: all .3s;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);

    &:hover{
      opacity: .7;
    }
  }
  
  &__inner{
    position: relative;
    background-color: #fff;
    padding: .2rem .8rem 2rem;
  }

  &__icon{
    border: 1px solid $col-green;
    font-size: .6rem;
    margin-top: .5rem;
    padding: .2rem .5rem;
    margin-bottom: .5rem;

  }

  &__ttl{
    font-size: 1rem;
    margin-bottom: .3rem;
  }

  &__desc{
    font-size: .9rem;
  }

  &__date{
    position: absolute;
    right:10px;
    bottom: 10px;
    font-size: .8rem;
  }
}


//*******************************************************************
//#region フォーム
//*******************************************************************

.p-form__message {
  width: 100%;
  padding: 1rem;
  margin: 3rem auto 2rem;
  background-color: #f2f2f2;
}

.p-form__message__desc {
  font-size:1.4rem;
  text-align: center;
  color: #777;
}

.p-form__message__link {
  border-bottom: 1px dotted #ccc;
  background-color: #f7fac7;
}

.form__message__link:hover {
  background: rgb(244, 241, 164);
  border-bottom: 1px dotted rgb(244, 241, 164);
}

.form {
  display: block;
  margin: 0 auto;
  padding: 3rem 0rem;
  font-size: .8rem;
  letter-spacing: 0.09em;

}

.form_1coltext,
.form__select,
.form__textarea {
  display: block;
  width: 100%;
  padding: .8rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  margin:10px 0

}

.form_1coltext:focus,
.form__select:focus,
.form__textarea:focus {
  box-shadow: 0 0 1px 1px #fabe00;
  opacity: .7;
  border-color: #fabe00;
}

.form__label {
  display: block;
  margin-bottom: .5rem;
  margin-top: 3rem;
  font-weight: bold;
}

.submit {
  display: block;
  width: 50%;
  margin: 3rem auto 0;
  text-align: center;
  border: 1px solid #333;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
  transition: all .3s;
  font-weight:bold;
}

.submit:hover {
  background-color: #fabe00;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0);
}

.form__attention {
  background-color: #E73357;
  color: #fff;
  font-size: .5rem;
  padding: .3rem .5rem;
  display: inline-block;
  margin-left: 2rem;
  transform: translateY(-2px);
}